/* reset */
html {
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

img,
button,
input,
button {
    border: 0;
}

button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

input,
textarea,
button {
    outline: none;
}

/* general */
body {
    color: #000000;
    font-size: 16px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: #ffffff;
}

h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
}

h2 {
    font-size: 12px;
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
}

a {
    color: #007fff;
}

p {
    font-weight: 600;
    line-height: 30px;
}

section {
    margin-bottom: 60px;
}

.container {
    position: relative;
}

button.burger {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    height: 11px;
    width: 20px;
}

button.burger:before, button.burger:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #007fff;
    border-radius: 2px;
}

button.burger:before {
    top: 0;
}

button.burger:after {
    bottom: 0;
}

.social-list {
    font-size: 0;
}

.social-list li {
    display: inline-block;
    margin: 0 15px;
}

.social-list li a {
    display: inline-block;
}

/* header */
.header {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}

.header-logo {
    display: inline-block;
}

.header-logo img {
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.header-nav ul {
    font-size: 0;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 52px;
}

.header-nav_left ul li {
    margin-right: 70px;
}

.header-nav_left ul li:last-child {
    margin-right: 0;
}

.header-nav_right ul li {
    margin-left: 70px;
}

.header-nav_right ul li:first-child {
    margin-left: 0;
}

/* hero */
.hero h1 span {
    color: #007fff;
}

/* works */
.works {
    margin-bottom: 40px;
}

.works-item {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.works-item img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.works-item_text {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.works-item_text span {
    display: inline-block;
    color: #000000;
    background-color: #ffe300;
    padding: 3px 15px;
    font-weight: 800;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.works-item h3 a {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.works-item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* about */
.about-item {
    margin-bottom: 30px;
}

.about-item input[type=checkbox] {
    display: none;
}

.about-item input[type=checkbox]:checked + span {
    opacity: 1;
    visibility: visible;
    font-size: 16px;
}

.about-item input[type=checkbox]:checked + span + label:after {
    content: 'less';
}

.about-item label {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    color: #007fff;
}

.about-item label:after {
    display: inline-block;
    content: 'more...';
}

.about-item span {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
}

.about-item h4 {
    cursor: pointer;
}

.about-brands ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about-brands ul li img {
    display: block;
    max-height: 25px;
    -o-object-fit: cover;
    object-fit: cover;
}

/* links */
.links {
    margin-bottom: 50px;
}

.links p {
    margin-bottom: 10px;
}

.links p a {
    line-height: 30px;
}

.links p span {
    color: #979797;
    margin-left: 10px;
}

/* footer */
.contacts {
    padding-top: 60px;
    border-top: 1px solid #ededed;
}

.contacts-top {
    margin-bottom: 60px;
}

.contacts .social-list {
    margin-top: 20px;
    margin-bottom: 60px;
}

.contacts .social-list li {
    margin-left: 0;
    margin-right: 30px;
}

.contacts-form label {
    display: block;
    margin-bottom: 20px;
}

.contacts-form label:last-child {
    margin-bottom: 30px;
}

.contacts-form span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    margin-bottom: 5px;
}

.contacts-form input,
.contacts-form textarea {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
}

.contacts-form input::-webkit-input-placeholder,
.contacts-form textarea::-webkit-input-placeholder {
    color: #cfcfcf;
}

.contacts-form input::-moz-placeholder,
.contacts-form textarea::-moz-placeholder {
    color: #cfcfcf;
}

.contacts-form input:-ms-input-placeholder,
.contacts-form textarea:-ms-input-placeholder {
    color: #cfcfcf;
}

.contacts-form input:-moz-placeholder,
.contacts-form textarea:-moz-placeholder {
    color: #cfcfcf;
}

.contacts-form textarea {
    height: 120px;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    resize: none;
}

.contacts-bottom {
    margin-bottom: 60px;
}

.contacts-bottom p {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 10px;
}

.contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contacts-link p:last-child {
    margin-bottom: 0;
}

.contacts-link p a {
    display: inline-block;
    font-size: 12px;
    color: #979797;
    line-height: 30px;
}

.navbar-default {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}


.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 52px;

    color: #007fff;
}

.navbar-default .navbar-toggle {
    float: left;
    border: none;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #007fff;
}


#top-logo {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -26px;
}